button > span{
  font-size: var(--default-font-size);
  font-weight: 700;
}

@media screen and (max-width: 330px) {
  button {
    font-size: 15px;
  }
}

.new-button {
  border-top: solid 1px lightgray;
  font-weight: 700;
  width: 100%;
  background: transparent;
  padding: 20px;
}

.end-button {
  border-radius: 20px;
  border: solid 2px var(--white);
  background-color: var(--dark-01);
  color: var(--white);
}

.survey-end-footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 40px 0px;
  background: var(--dark-01);
}
