ion-content {
  --overflow: hidden;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--ion-color-primary);
  margin-bottom: 28px;
}
.subtitle {
  color: var(--ion-color-primary);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 28px;
}

.image-container {
  margin-top: 8vh;
  text-align: center;
}
.home-button {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-tertiary);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  border-top-left-radius:20px;
  border-top-width: 5px;
  border-left-width: 5px;
  border-left-color: var(--ion-color-secondary-tint);
  border-top-color: var(--ion-color-secondary-tint);
  font-size: 24px;
}
.image {
  width: 50vh;
}

